/* Initial reset */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 li {
    list-style-type: none;
 }

 a {
    text-decoration: none;
 }

 a, img, table, tbody, button, ion-icon {
    display: block;
 }

 button {
    cursor: pointer;
 }

 html {
    font-size: 10px;
    scroll-behavior: smooth;
 }

 body {
    font-size: 1.6rem;
    border-radius: 10px;
    background-color: #FFF;
    height: 100vh;
    color: #000;
    font-family: 'roboto', sans-serif;
 }

 ::-webkit-scrollbar {
    width: 10px;
 }

 ::-webkit-scrollbar-track {
    background: hsl(0, 0%, 95%);
 }

 ::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 80%);
 }

 ::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 70%);
 }



 /* HEADER */

 .header {
    background-color: #FFF;
    top: 0;
    left: 0;
    transition: 0.25s ease;
    width: 100%;
    z-index: 40;
    height: 80px;
 }


 .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 1rem;
 }

 .navbar-large {
   visibility: hidden;
   display: none;
 }
 .navbar-large ul{
   display: flex;
   gap: 25px;

 }

 .navbar-large a {
   color: inherit;
   padding: 5px 10px;
   margin: 5px;
 }

 .navbar-large a:hover, .profile-nav-large:hover {
   border-bottom: 1px solid #000;
 }

 .profile-nav-large {
   position: absolute;
   left:95%;
   padding: 5px 10px;
   visibility: hidden;
   display: none;
   color: inherit;
 }

 .nav-open-btn {
    font-size: 25px;
    background: none;
    padding: 10px;
    transition: .25s ease;
 }

 .nav-open-btn:is(:hover, :focus) {
    transform: scale(1.4);
 }

 .navbar {
   background: #FFF;
    position: fixed;
    top: 0;
    left: -280px;
    width: 100%;
    height: 100%;
    max-width: 270px;
    box-shadow: 3px 0 10px #555;
    overscroll-behavior: contain;
    transition: 0.25s ease-out;
    z-index: 20;
    visibility: hidden;
 }

 .navbar.active {
   visibility: visible;
   transform: translateX(280px);
   transition: 0.25s ease-in;
}
 
 .nav-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 35px;
    transition: .25s ease;
    padding: 10px;

 }
 .nav-close-btn:is(:hover, :focus) {
    transform: scale(1.4);
 }

 .navbar .logo {
   display: flex;
   justify-content: center;
   padding-block: 20px;
    
 }

 .nav-pages {
    padding: 2em;

 }

 .nav-link{
   padding: 0.5em 0;
    margin-bottom: 1em;
    font-size: 1.2em;
    border-bottom: 2px solid #EEE;
 }

 .overlay {
   position: fixed;
   inset: 0;
   background: hsla(0, 0%, 0%, 0.3);
   z-index: 1;
   opacity: 0;
   transition: 0.25s ease;
   pointer-events: none;
 }

 .overlay.active {
   opacity: 1;
   pointer-events: all;
 }

 /* CHECKOUT */

 main {
   display: flex;
   justify-content: center;
 }

 article {
   width: 90%;
 }

 h1 {
   font-size: clamp(32px, 6vw, 64px);
   font-weight: 100;
   margin: 0.5em 0 1em 0;
 }

 .order-summary {
   display: flex;
   justify-content: space-between;
   width: 100%;
   flex-direction: column;
 }

 .delivery-info {
   flex-basis: 75%;
 }

 .delivery-info form {
   margin-top: 2em;
   
 }



 .summary {
   flex-basis: 25%;
 }

 .item-img {
   width: 100px;
   height: 100px;
   overflow: hidden;
}



.item-img img {
   width: 100%;
   object-fit: cover;
}

.item-subtotal, .total-price {
   display: flex;
   justify-content: space-between;
}

.item-subtotal {
   margin-bottom: 25px;
}

.total-price {
   border-top: 1px solid #AAA;
}

.label p, .value p {
   margin: 12px 0 0 10px;
}

.delivery-info {
   background: #fff;
   padding: 25px;
   border-radius: 8px;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
   margin-bottom: 30px;
}

input {
   display: block;
   width: 100%;
   padding: 20px 20px;
   border-radius:15px;
   margin-top: 8px;
   border: 1px solid #AAA;
}

form > div {
   margin-top: 20px;
}

.name {
   display: flex;
   justify-content: center;
   gap: 8%;
}

.name > div {
   flex-basis: 46%;
}

.city-state {
   display: flex;
   gap: 5%;
}

.city-state > div {
   flex-basis: 30%;
}

div.submit-btn {
   margin: 80px 0;
}

.submit-btn button {
   width: 100%;
   height: 60px;
   border-radius: 20px;
   border: none;
   background-color: #000;
   color: #FFF;
}

.cart-item {
   display: flex;
   gap: 20px;
   margin: 30px 0;
}

.item-details > * {
   margin-top: 5px;
}







   /* MEDIAA QUERY */


  
   @media (min-width:1080px ) {
  
     .navbar-large, .profile-nav-large {
        visibility: visible;
        display: block;
     }
  
     .nav-open-btn {
        visibility: hidden;
     }

     .order-summary {
      flex-direction: row;
     }

   }
